.app {
  background: var(--mauve-2);
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;

  /* width: 1920px;
  height: 1080px; */
}

.app-vertical {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  justify-content: space-between;
}

.root-panel {
  background-color: var(--mauve-1);
  position: relative;
  overflow: hidden;
}
