.app {
  background: var(--mauve-2);
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
}

.systems {
  display: flex;
  gap: 0.5rem;
  flex: 1;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.system {
  background-color: var(--mauve-1);
  position: relative;
  overflow: hidden;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  height: 100%;
}

@media (max-aspect-ratio: 1 / 1) {
  .systems {
    flex-direction: column;
    width: 100%;
  }
}
