.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
  width: 100%;
  padding: 1rem 0;

  .control {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 32rem;

    span {
      margin: auto;
      margin-right: 1rem;
    }

    label {
      color: var(--mauve-11);
      font-size: 0.75em;
    }

    input {
      margin: 0 0.5rem;
      flex: 1;
      min-width: 0;
    }

    button {
      font: inherit;
      border: none;
      padding: 0.5rem;
      background-color: var(--mauve-3);
      color: var(--mauve-11);

      &[data-selected="true"] {
        background-color: var(--mauve-6);
        color: var(--mauve-12);
      }
    }
  }
}
